<div class="carousel-container">
  <div data-controller="carousel" class="swiper-container"
      data-carousel-options-value='{
      "spaceBetween": 30,
      "navigation": { "nextEl": ".swiper-button-next",
                      "prevEl": ".swiper-button-prev"}}'>

    <!-- Navigation buttons (< >) -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <div class="swiper-wrapper">
      <!-- Slides -->
      <% @videos.each do |video| %>
        <div class="swiper-slide slider" data-video-id="<%= video[:public_id] %>">
          <div class="video-card">
            <% if user_signed_in? %>
              <%= link_to "#", class: "delete-video-button nav-button", data: { controller: "tag", action: "click->tag#destroyVideo", tag_id_value: video[:public_id]} do %><% end %>
              <%# <%= link_to "#", class: "add-tag-button nav-button", data: { controller: "tag", action: "click->tag#addTag", tag_id_value: video[:public_id]} do %>
              <%# <% end %>
              <%# <%= link_to "#", class: "remove-tag-button nav-button", data: { controller: "tag", action: "click->tag#removeTag", tag_id_value: video[:public_id]} do %>
              <%# <% end %>
            <% end %>
            <div class="border-radius">
              <video
                  id="<%= video[:public_id] %>"
                  class="video-js"
                  controls
                  preload="auto"
                  data-setup="{}">
                  <source src="<%= video[:url] %>" type="video/mp4">
              </video>
            </div>
            <div class="bottom-video-card">
              <p><%= video[:created_at].to_time.strftime("%d/%m/%Y %H:%M") %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
