<!DOCTYPE html>
<html>
  <head>
    <title>Storybird</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
    <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script>
      var player = videojs('my-video');
    </script>
  </body>
</html>
